node_modules/
.svelte-kit/
build/
dist/
.DS_Store
*.log
.env
.env.local
.env.*.local
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
.nyc_output/
*.lcov
.idea/
.vscode/
*.sw?
